# -----------------------------
# 🧩 Python environment & build
# -----------------------------
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# -----------------------------
# 🧠 IDE / OS clutter
# -----------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo


data-preprocessing/BASIL/
sentence-level/news-discourse/Discoure_Profiling_RL_EMNLP21Findings
sentence-level/news-discourse/.venv
sentence-level/news-discourse/checkpoints